extends layout

mixin fileItem(file)
    li
        if file.isDirectory
            b
                a(href = '?dir=' + workDir + file.name)= file.name
        else
            a(href = '/get/' + workDir + file.name)= file.name

block content
    h1= title
    p #{title}
    ul
        if parentDir === '' || parentDir === '/'
            a(href = '/')= '..'
        else if parentDir !== false
            a(href = '?dir=' + parentDir)= '..'
        each file in files
            +fileItem(file)